%button {
  color: #000000;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  padding: 12px 26px;
}

%button-primary {
  @extend %button;
  background: #ffa501;
}

%button-primary-hover {
  background-color: #ff7f00;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: translateY(-4px);
}

%button-primary-active {
  background-color: #cc6600;
  transform: translateY(-2px);
}

%button-secondary {
  @extend %button;
  padding: 12px 0;
}

%circle {
  min-width: 36px;
  min-height: 36px;
  border-radius: 50%;
  background: #ffa501;
}

._lock {
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

input,
input:focus,
textarea {
  outline: none;
  border: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  background: #ffffff;
}

h1 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  line-height: 60px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

@media (max-width: 576px) {
  h1 {
    font-size: 26px;
    line-height: 39px;
  }

  h2 {
    font-size: 24px;
    line-height: 36px;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .container {
    padding: 0 10px;
  }
}

.main {
  padding: 206px 0;
  height: 100vh;
  background: url("../images/main.jpg") 50% / cover no-repeat;

  &__icon {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 36px;
    height: 21px;
    cursor: pointer;

    &:hover:before,
    &:hover::after,
    &:hover span {
      background: #ffffff;
    }

    & span,
    &:before,
    &:after {
      left: 0;
      position: absolute;
      height: 3px;
      width: 30px;
      background: #151812;
      transition: background 0.5s ease-in;
    }

    & span {
      width: 36px;
    }

    &:before,
    &:after {
      content: "";
      left: 6px;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    & span {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__menu {
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background: rgba(255, 255, 255, 0.75);

    transition: opacity 1s ease;

    &_active {
      pointer-events: all;
      opacity: 1;

      & .main__menu-body {
        left: 0;
      }
    }

    &-body {
      height: 100vh;
      width: 345px;
      background: #ffa501;
      padding: 140px 25px 50px 40px;

      position: relative;
      left: -100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      transition: left 1s ease;

      &__icon {
        position: absolute;
        top: 24px;
        right: 25px;
        width: 29px;
        height: 29px;
        cursor: pointer;

        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 13px;
          left: -5px;
          display: block;
          width: 39px;
          height: 4px;
          border-radius: 4px;
          background: #000000;
          transition: background 0.5s ease-in;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }

        &:hover::before,
        &:hover::after {
          background: #ffffff;
        }
      }

      &__list {
        &-item {
          position: relative;
          display: flex;

          margin: 0 0 15px 0;

          &:last-child {
            margin: 0;
          }

          &::before {
            content: "";
            width: 15px;
            height: 15px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border: 1px solid #000000;
            border-radius: 50%;
          }
        }
        &-link {
          padding: 0 0 0 35px;
          font-size: 24px;
          line-height: 36px;
          font-weight: 700;
          color: #ffffff;
          transition: color 0.5s ease-in;

          &:hover {
            color: #000000;
          }
        }
      }

      &__socials {
        display: flex;
        justify-content: center;

        &-link {
          margin: 0 15px 0 0;
          &:last-child {
            margin: 0;
          }
          & img {
            max-width: 20px;
          }
        }
      }
    }
  }

  &__socials {
    position: absolute;
    top: 50%;
    left: 0;
    left: -105px;
    transform: rotate(-90deg);

    display: flex;
    align-items: center;

    &-title {
      margin: 0 100px 0 0;
      position: relative;
    }
    &-title::before {
      content: "";
      position: absolute;
      top: 50%;
      right: -85px;
      transform: translateY(-50%);
      width: 70px;
      height: 2px;
      background: #000000;
    }
    &-links {
      display: flex;
      align-items: center;
    }
    &-link {
      margin: 0 15px 0 0;

      &:last-child {
        margin: 0;
      }
      & img {
        max-width: 20px;
      }
    }
  }

  &__content {
    &-title {
      margin: 0 0 9px 0;
      position: relative;

      &::before {
        content: "";
        @extend %circle;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }

      & span {
        position: relative;
        padding: 0 0 0 10px;
      }
    }

    &-subtitle {
      max-width: 532px;
      margin: 0 0 25px 0;
    }

    &-button-primary {
      @extend %button-primary;
      margin: 0 44px 0 0;

      &:hover {
        @extend %button-primary-hover;
      }

      &:active {
        @extend %button-primary-active;
      }
    }

    &-button-secondary {
      @extend %button-secondary;

      &:hover {
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(0);
      }
    }
  }
}

@media (max-width: 1400px) {
  .main {
    &__socials {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .main {
    background-position: 55%;

    &__icon {
      right: 20px;
    }

    &__menu {
      &-body {
        padding: 140px 0 50px 20px;
        width: 250px;
      }
    }

    &__content {
      &-subtitle {
        max-width: 290px;
        margin: 0 0 32px 0;
      }
    }
  }
}

.experience {
  padding: 126px 0 0 0;

  &__title {
    text-align: center;
    margin: 0 0 6px 0;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      @extend %circle;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }

    & span {
      position: relative;
    }
  }

  &__subtitle {
    text-align: center;
    position: relative;
    margin: 0 0 85px 0;

    &::after {
      content: "";
      position: absolute;
      width: 60px;
      height: 3px;
      background: #ffa501;
      bottom: -25px;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, 0);
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    padding: 0 50px 0 59px;
  }
  &__column {
    border-left: 1px solid #000000;
    position: relative;
    margin: 0 45px 0 0;

    &:last-child {
      margin: 0;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: -1px;
      width: 1px;
      background-color: #ffffff;
    }

    &::before {
      top: 0;
      height: 7.5px;
    }
    &::after {
      bottom: 0;
      height: 11px;
    }

    &-title {
      position: relative;
      padding: 0 0 0 43px;
      margin: 0 0 45px 0;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -8px;
        transform: translateY(-50%);

        @extend %circle;
        min-width: 15px;
        min-height: 15px;
      }
    }

    &-item {
      padding: 0 0 0 43px;
      margin: 0 0 45px 0;

      &:last-child {
        margin: 0;
      }

      &__top {
        display: flex;
        margin: 0 0 12px 0;
      }
      &__image {
        @extend %circle;
        width: 36px;
        height: 36px;
        position: relative;
        margin: 0 20px 0 0;

        & img {
          position: absolute;
          bottom: -3px;
          right: -6px;
        }
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -43px;
          width: 43px;
          height: 1px;
          background: #000000;
        }
      }

      &__text {
        max-width: 375px;
      }
    }
  }
}

@media (max-width: 768px) {
  .experience {
    padding: 46px 0 0 0;

    &__title {
      margin: 0 0 26px 0;
    }

    &__subtitle {
      margin: 0 0 55px 0;

      &::after {
        bottom: -15px;
      }
    }

    &__content {
      padding: 0 2px 0 5px;

      flex-direction: column;
      margin: 0;
    }
    &__column {
      margin: 0 0 40px 0;

      &-item {
        &__top {
          margin: 0 0 10px 0;
        }

        &__subtitle {
          max-width: 190px;
        }
      }
    }
  }
}

.contact {
  padding: 120px 0 91px 0;

  &__container {
    padding: 0 65px 0 82px;
    display: flex;
  }

  &__image {
    width: 100%;
    max-width: 400px;
    margin: 0 68px 0 0;
  }

  &__content {
    width: 100%;
  }

  &__title {
    margin: 6px 0;
    position: relative;

    & span {
      position: relative;
      padding: 0 0 0 12px;
    }

    &::before {
      @extend %circle;
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__subtitle {
    position: relative;
    margin: 0 0 24px 0;

    &::after {
      content: "";
      position: absolute;
      width: 60px;
      height: 3px;
      background: #ffa501;
      bottom: -2px;
      left: 0;
    }
  }

  &__socials {
    margin: 0 0 20px 0;

    &-title {
      margin: 0 0 20px 0;
    }
    &-links {
      display: flex;
      align-items: center;
    }
    &-link {
      display: inline-block;
      padding: 0;
      margin: 0 25px 0 0;

      &:first-child {
        margin: 0 20px 0 0;
      }
      &:last-child {
        margin: 0;
      }
      & img {
        display: block;
      }
    }
  }

  &__title-form {
    margin: 0 0 30px 0;
  }
  &__form {
    &-inputs {
      display: flex;
      margin: 0 0 30px 0;
    }

    &-input-group,
    &-textarea-group {
      position: relative;
    }

    &-input-group {
      width: 100%;
      max-width: 50%;
    }

    &-input-group label,
    &-textarea-group label {
      position: absolute;
      top: -9px;
      left: 12px;
      background: #ffffff;
      padding: 0 8px;
    }

    &-input-group:first-child {
      margin: 0 25px 0 0;
    }

    &-input {
      padding: 14px 20px 13px;
      width: 100%;
      border: 1px solid #000000;
      margin: 0 0 4px 0;

      &:focus {
        border: 1px solid #000000;
      }
    }

    &-textarea-group {
      margin: 0 0 28px 0;
      width: 100%;
    }

    &-textarea {
      border: 1px solid #000000;
      padding: 14px 20px 13px;
      width: 100%;
      height: 190px;
      resize: none;
      margin: 0 0 4px 0;

      &:focus {
        border: 1px solid #000000;
      }
    }

    &-error {
      padding: 0 0 0 20px;
      color: #ff0000;
    }

    &-checkbox-group {
      display: none;
      align-items: center;
      justify-content: center;
      margin: 0 0 20px 0;

      & label {
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
        max-width: 150px;

        & a {
          color: #2306d6;
          display: inline;
        }
      }
    }

    &-checkbox {
      margin: 0 10px 0 0;
    }

    &-button {
      @extend %button-primary;
      border: 0;
      cursor: pointer;

      &:hover {
        @extend %button-primary-hover;
      }

      &:active {
        @extend %button-primary-active;
      }

      &:disabled,
      &[disabled] {
        background-color: #d3d3d3; /* Light gray color */
        color: #a9a9a9; /* Dark gray text color */
        cursor: not-allowed;
        box-shadow: none;
        transform: none;
      }
    }
  }
}

@media (max-width: 992px) {
  .contact {
    &__image {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .contact {
    padding: 46px 0 50px;
    &__container {
      padding: 0 10px;
    }

    &__title {
      margin: 0 0 26px 0;
    }

    &__subtitle {
      margin: 0 0 35px 0;
      &::after {
        bottom: -15px;
      }
    }

    &__socials {
      &-link {
        margin: 0 20px 0 0;

        &:first-child {
          margin: 0 25px 0 0;
        }
      }
    }

    &__title-form {
      margin: 0 0 29px 0;
    }
    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &-inputs {
        width: 100%;
        flex-direction: column;
        margin: 0 0 27px 0;
      }

      &-input-group {
        max-width: 100%;
      }

      &-input-group:first-child {
        margin: 0 0 29px 0;
      }

      &-textarea-group {
        margin: 0 0 20px 0;
      }

      &-checkbox-group {
        display: flex;
      }
      &-button {
        max-width: 219px;
      }
    }
  }
}
